/* Responsive */
@media (max-width: 1396px) {
    .title {
        font-size: 30px;
    }

    .description {
        font-size: 15px;
    }

    header .left-panel .title {
        font-size: 70px;
    }

    header .left-panel .header-text .big-text {
        font-size: 40px;
    }

    header .left-panel .header-text .small-text {
        font-size: 0.8em;
    }

    header .left-panel .header-text .content.satu::after, 
    header .left-panel .header-text .content.dua::after {
        width: 65px;
        top: 45px;
        right: -65px;
    }

    .service-container .card .card-text {
        font-size: 14px;
    }

    .about-container .about-big-img {
        width: 450px;
        height: auto;
    }

    .about-container .img-container img {
        width: 300px;
        height: auto;
    }

    .pricing-container .row .list-group {
        width: 360px;
    }

    .pricing-container .list-group .title-text,
    .pricing-container .list-group .price-text {
        font-size: 16px;
    }

    .pricing-container .list-group .duration-text {
        font-size: 12px;
    }

    .gallery-container .gallery-img-container .gallery-img1,
    .gallery-container .gallery-img-container .gallery-img2,
    .gallery-container .gallery-img-container .gallery-img3,
    .gallery-container .gallery-img-container .gallery-img4,
    .gallery-container .gallery-img-container .gallery-img5,
    .gallery-container .gallery-img-container .gallery-img6 {
        width: 350px;
    }

    .swiper-button-prev {
        margin: 0 10px 100px 500px;
    }
    
    .swiper-button-next {
        margin: -143px 10px 10px 560px;
    }

    .cta-container .box-container .title {
        font-size: 44px;
    }

    footer .list-navigation .title-text {
        font-size: 18px;
    }
}

@media (max-width: 884px) {
    .title {
        font-size: 24px;
    }

    .description {
        font-size: 12px;
    }

    header .left-panel {
        margin-right: 15px;
    }

    header .left-panel .title {
        font-size: 40px;
    }

    header .left-panel .description {
        font-size: 12px;
    }

    header .left-panel .btn-getstarted,
    header .left-panel .btn-ourservice {
        font-size: 14px;
    }

    header .left-panel .header-text .content {
        margin-right: 40px;        
    }

    header .left-panel .header-text .big-text {
        font-size: 30px;
    }

    header .left-panel .header-text .small-text {
        font-size: 8px;
    }

    header .left-panel .header-text .content.satu::after,
    header .left-panel .header-text .content.dua::after {
        right: -45px;
        top: 35px;
        width: 55px;
    }

    header .right-panel .header-img {
        width: 350px;
    }

    .service-container .card .card-text {
        font-size: 12px;
    }

    .service-container .card {
        border-left: 1px solid var(--secondary-color-with-opacity);
        border-right: 1px solid var(--secondary-color-with-opacity);
    }

    .about-container .about-big-img {
        width: 300px;
    }

    .about-container .img-container img {
        width: 170px;
    }

    .about-container .right-panel .description {
        padding-right: 20px;
    }

    .pricing-container .row .list-group {
        width: 227px;
    }

    .pricing-container .list-group .list-group-item {
        font-size: 16px !important;
    }

    .pricing-container .list-group .title-text,
    .pricing-container .list-group .price-text {
        font-size: 12px;
    }

    .pricing-container .list-group .duration-text {
        font-size: 8px;
    }

    .gallery-container .gallery-img-container .gallery-img1,
    .gallery-container .gallery-img-container .gallery-img2,
    .gallery-container .gallery-img-container .gallery-img3,
    .gallery-container .gallery-img-container .gallery-img4,
    .gallery-container .gallery-img-container .gallery-img5,
    .gallery-container .gallery-img-container .gallery-img6 {
        width: 210px;
    }

    .gallery-container .btn-view-more {
        font-size: 10px;
    }

    .cta-container .box-container .title {
        font-size: 36px;
    }

    footer .footer-group {
        flex-direction: column;
    }

    footer .left-panel {
        margin-bottom: 50px;
    }

    footer .right-panel {
        margin: 0 -40px 0;
    }

    footer .right-panel .list-navigation .sub-text {
        font-size: 14px;
    }
}

@media(max-width: 768px) {
    header {
        flex-direction: column;
    }

    header .left-panel {
        order: 2;
    }

    header .right-panel {
        order: 1;
    }

    header .right-panel .header-img {
        width: 100%;
    }
    
    header .left-panel .description {
        font-size: 16px;
    }

    header .left-panel .header-text .big-text {
        font-size: 40px;
    }

    header .left-panel .header-text .small-text {
        font-size: 14px;
    }

    header .left-panel .header-text .content.satu::after,
    header .left-panel .header-text .content.dua::after {
        right: -58px;
        top: 45px;
        width: 75px;
    }

    .about-container > .d-flex {
        flex-direction: column;
    }

    .about-container .about-big-img {
        width: 100%;
    }

    .about-container .right-panel {
        margin-top: 50px;
        margin-left: 0;
    }

    .about-container .right-panel .about-sub-img1,
    .about-container .right-panel .about-sub-img2 {
        width: 230px;
    }

    .pricing-container .row .list-group {
        width: 100%;
        margin-bottom: 20px;
    }

    .pricing-container .list-group .title-text,
    .pricing-container .list-group .price-text {
        font-size: 16px;
    }

    .pricing-container .list-group .duration-text {
        font-size: 12px;
    }

    .pricing-container .list-group .list-group-item {
        font-size: 20px !important;
    }

}